[submodule "doctest"]
	path = doctest
	url = https://github.com/doctest/doctest.git
[submodule "libpng"]
	path = code
	url = http://git.code.sf.net/p/libpng/code.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
